postgres/*
postgres.tar.bz2

*.o
*.a
*.so

examples/*
!examples/*.c

test/*
!test/*.c
!test/*.sql
!test/*.expected.json
!test/valgrind.supp
!test/**/
test/*.dSYM

tmp/*
!tmp/.gitkeep

bindings/java/src
bindings/java/target

src/pg_query_wrap_java.c