postgres/*
postgres.tar.bz2

*.o
*.a
*.obj
pg_query.lib

examples/*
!examples/*.c

test/*
!test/*.c
!test/*.sql
!test/*.expected.json
!test/valgrind.supp
!test/**/
test/*.dSYM

tmp/*
!tmp/.gitkeep

.vs/*
